.banner {
    position: relative;
    height: 600px;
    background-image: url('../../../assets/images/banner3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .text {
    z-index: 2;
}

.banner .text h1 {
    font-size: 4rem;
    font-weight: bold;
}

.banner .text span {
    color: #05F2F2;
}