<div class="container mt-5">
    <h1 class="text-muted my-3 font-weight-bold">{{book.name}}</h1>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="bg-dark" style="height: 500px; width: 300px;">
            <img [src]="book.cover" alt="">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="d-flex flex-column justify-content-between h-100">
          <p>{{book.description}}</p>
            <div class="col-6 pl-0 d-flex flex-column justify-content-between">
                <p class="bitstyle">Valor Unitario ${{book.unitValue | currency:'COP '}} </p>
                <form>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label class="col-form-label font-weight-bold">Cantidad</label>
                        </div>
                        <div class="col-6">
                            <input class="form-control border border-dark" value="1" type="number" name="quantity" ngModel>{{quantity}}
                        </div>
                    </div>
                </form>

                <div class="border-top border-dark pt-3 mt-3 d-flex justify-content-between">
                    <h5 class="d-inline-block">Total ${{quantity}}</h5>
                    <button class="mi-button btn d-inline-block"><i class="fa fa-shopping-cart"></i> Añadir al carrito</button>
                </div>
        </div>

      </div>
    </div>
  </div>
